html,body{
  width: 100%;
  height: 100%;
}
body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}
.imageContainer{
  max-width: 640;
  max-height: 640;
  position: relative;
}
.imageContainer:hover {
  opacity: 0.3; /* Adjust the opacity value to control the dimness */
  transition: opacity 0.3s; /* Add a smooth transition for the effect */
}
header{
  text-align: center;
}
.container{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.albumsOuter {
  padding: 2em;
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 100%;
} 

.albums {
  border: solid white 1px;
  padding: 1em;
  border-radius: 4px;
  margin: 0 1em 1em 1em;
}

img {
  opacity: 1;
  transition: 0.5s ease;
  width: 100%;
}

.iconsContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.imageContainer:hover .iconsContainer{
  opacity: 1;
}

.icons {
  width: 30px;
}

.icons:hover {
  transform: scale(1.3);
}

a {
  text-decoration: none;
  font-size: 14px;
}

a:hover{
  text-decoration: underline;
}

.artistName {
  color: #a0a0a0;
}

.albumName {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .albumsOuter {
    grid-template-columns: auto auto; /* Two columns */
  }
}

/* Media query for mobile devices (e.g., 480px wide or wider) */
@media screen and (max-width: 480px) {
  .albumsOuter {
    grid-template-columns: auto; /* Single column */
  }
}

