html,body{
  width: 100%;
  height: 100%;
}
body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}
header{
  text-align: center;
  padding-top: 5em;
  padding-bottom:5em ;
  margin-left: 20%;
}
.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
}
.sidebar {
  width: 20%;
  padding: 20px 0;
  transition: all 0.5s ease;
  overflow-y: auto;
  top: 0;
  left: 0;
  position: fixed; /* Fix the sidebar position */
  height: 100%; /* Make the sidebar the full height of the viewport */
}

.albumsOuter{
  width: 80%;
  display: flex;
  max-width: 80%;
  flex-wrap: wrap;
  /* padding: 1em; */
  margin-left: 20%;
}
.albums{
  
  text-align: center;
  padding: 0.5em;
  flex: 1 0 20%;
}
.textCenter {
  width: 100%;
  text-align: center;
  margin-top: 20px; 
}

.textCenter h2 {
  background-color: black; 
  display: inline-block; /* Make the text inline-block to center it */
  padding: 0 20px; /* Add some padding to the text */
}



.topText{
  text-align: center;
}

.playlists {
  display: flex; 
  padding: 2%;
  /* max-height: 80vh;  */
  overflow-y: auto; 
}
.playlistImage{
  background-color: #202020;
  width: 50%;
  max-width: 50%;
  object-fit: contain;
}

.playlistImage:hover {
  opacity: 0.3; 
  transition: opacity 0.3s; 
}
.playlistImage img {
  width: 100%; 
  height: auto; 
}
.playlistText {
 
  width: 50%;
  text-align:left;
  
  padding: 10px; 
}


/* ---------------- */
.imageContainer{
 
  position: relative;
}
img {
  opacity: 1;
  transition: 0.5s ease;
  
}
.imageContainer:hover {
  opacity: 0.3; 
  transition: opacity 0.5s; 
}
.iconsContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  transition: 0.2s ease;
  opacity: 1;
  position: absolute; 
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 1
}

.imageContainer:hover .icons{
  opacity: 1;
}

.icons {
  width: 30px;
  opacity: 0;
  transition: 0.2s ease;
}

.icons:hover {
  transform: scale(1.3);
}

a {
  text-decoration: none;
  font-size: 14px;
}

a:hover{
  text-decoration: underline;
}

.artistName {
  color: #a0a0a0;
}
p{
  color: #a0a0a0;
}

.albumName {
  color: #fff;
}


@media screen and (max-width: 768px) {
  .albums {
    flex: 50%; 
      padding: 0.25em;
  }
  .sidebar {
    display: none;
  }
  .albumsOuter {
    margin: auto;
    flex-wrap: wrap; 
  }
}

@media screen and (max-width: 467px) {
  .sidebar {
    display: none;
  }
  .albums {
    flex: 100%; /* 100% to take the full width of the container */
    padding: 0.125em;
  }
  .albumsOuter {
    margin: auto;
    flex-wrap: wrap; 
  }
}



